[submodule "zsh/.fzf"]
	path = zsh/.fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/pack/vendor/start/ctrlp.vim"]
	path = vim/.vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/.vim/pack/vendor/start/awesome-vim-colorschemes"]
	path = vim/.vim/pack/vendor/start/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/fzf-tab"]
    path = zsh/fzf-tab
    url = https://github.com/Aloxaf/fzf-tab
[submodule "vim/.vim/pack/vendor/start/vim-airline"]
    path = vim/.vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/pack/vendor/start/vim-airline-themes"]
	path = vim/.vim/pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/.vim/pack/vendor/start/syntastic"]
	path = vim/.vim/pack/vendor/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
