[submodule "zsh/.fzf"]
	path = zsh/.fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/pack/vendor/start/ctrlp.vim"]
	path = vim/.vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/.vim/pack/vendor/start/awesome-vim-colorschemes"]
	path = vim/.vim/pack/vendor/start/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/themes/geometry"]
	path = zsh/themes/geometry
	url = https://github.com/geometry-zsh/geometry
[submodule "Dotfiles/zsh/themes/geometry-dir-info-prompt"]
	path = zsh/themes/geometry-dir-info-prompt
	url = https://github.com/desyncr/geometry-dir-info-prompt
[submodule "zsh/fzf-tab"]
    path = zsh/fzf-tab
    url = https://github.com/Aloxaf/fzf-tab
[submodule "vim/.vim/pack/vendor/start/vim-airline"]
	path = vim/.vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/pack/vendor/start/vim-airline-themes"]
	path = vim/.vim/pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
